@model WarehouseViewModel

@{
}

<article>
    <H2>@Model.Name</H2>
    <H4>@Model.Postcode</H4>
    <H4>@Model.Street</H4>

    <div>
        <a asp-controller="Warehouse" asp-action="Edit" asp-route-id="@Model.ID">
            <button>Edit Warehouse</button>
        </a>
        <form asp-controller="Warehouse" asp-action="Delete" asp-route-id="@Model.ID">
            <button type="submit">Delete shelve</button>
        </form>
        <a asp-controller="Shelves" asp-action="Index" asp-route-WarehouseID="@Model.ID">
            <button>View all shelves</button>
        </a>
    </div>

</article>

<article>
    <h4>
        <th>Products</th>
    </h4>
    <table>
        <thead>
            <tr>
                <th>code</th>
                <th>On shelve</th>
                <th>name</th>
                <th>description</th>
                <th>amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shelf in Model.Shelves)
            {
                @if (shelf.Products != null && shelf.Products.Any())
                {
                    @foreach (var product in shelf.Products)
                    {
                        <tr>
                            <td>@product.ProductCode</td>
                            
                            <td>
                                <a asp-controller="Shelves" asp-action="View" asp-route-ID="@shelf.ID">
                                    @shelf.Name
                                </a>
                            </td>
                           
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Amount</td>
                            <td>hi there</td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</article>

